<% include ../partials/boilerplate %>

    <a href='/todos/add'>Add a new task</a>

    <div class='frame'>
    <% todoData.forEach(function(todo) { %>
        <h3><%= todo.title %></h3>
            <span class='form'><%= todo.status %></span></br>
            <span class='form'><%= todo.category %></span></br>
        <a href='/todos/<%= todo.id %>'>Info</a>
        <a href='/todos/edit/<%= todo.id %>'>Edit</a>
        <form method='POST' action='/todos/<%= todo.id %>?_method=DELETE'>
            <input type='submit' value='Delete' />
        </form>
    <% }) %>
    </div>
    
<% include ../partials/end %>